
.icon-redes:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-buscar:before { content: '\e802'; } /* '' */
.icon-fideos:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-hamburguesa:before { content: '\e815'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-github:before { content: '\f056'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-cubiertos:before { content: '\f0f5'; } /* '' */
