@font-face {
    font-family: "bolditalic.ttf";
    src: url("fuentes/bolditalic.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0px;
    padding: 1.6vh 0.73206vw;
    box-sizing: border-box;
}
html{
    background-color: black;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
/*SCROLLBAR*/
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: rgb(46, 194, 160);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb{
    background: #ffffff;
    border-radius: 50px;
}
/*TITULO Y MENU*/
.header{
    background: url("imagenes/menu2.jpg");
    background-position: center;
    background-attachment:contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    font-family:  sans-serif;
}
.barra{
    display: flex;
    align-items: center;
}
.logo{
    flex: 2 1 auto;
}
.nav{  
    flex: 7 1 auto;
    display: flex;
    
    
}
.nav  a{
    text-decoration: none;
    font-size: 1rem;
    padding: 0 0.7320vw;
    letter-spacing: 0.063rem; 
    font-weight: bolder;
    color: black;
}
.nav li{
    list-style: none;
    background-color: rgba(189, 147, 147, .5);
}
/*CUERPO PRINCIPAL*/
.cuerpo{
    background-color: black;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
.cuerpo .articulos{
    background-color: rgb(215, 58, 51);
    flex: 8 1 auto;
    display: flex;
    flex-flow: row wrap;
}
.cuerpo .articulos .texto{
    background-color: rgb(243, 181, 46);
    flex: 1 1 40%;
}
.texto h2 a{
    text-decoration: none;
    color:rgb(38, 76, 89);
}
.cuerpo .articulos .video{
    background-color: rgb(243, 181, 46);
    flex: 1 1 40%; 
}
.cuerpo .articulos .receta{
    background-color: rgb(243, 181, 46);
    flex: 1 1 40%;
}

.cuerpo .articulos .platoterminado{
    flex: 1 1 40%;
}
.cuerpo .articulos .platoterminado img{
    justify-self: center;
}
.cuerpo .articulos .ingredientes{
    background-color: rgb(243, 181, 46);
    flex: 1 1 40%;
}
.ingredientes ul li{
    list-style: none;
}
.ingredientes ul li:hover{
    color: rgb(215, 58, 51);
    font-weight: bold;
}

.ingredientes h3{
    text-align: center;
}
.ingredientes h4{
    text-decoration: underline rgb(215, 58, 51) 0.188rem;
}
.cuerpo .articulos .masa{
    background-color: rgb(243, 181, 46);
    flex: 1 1 40%;
}
.cuerpo .articulos .masa .salsa2{
    display: none;
}
.cuerpo .articulos .relleno{
    background-color: rgb(243, 181, 46);
    flex: 1 1 40%;
}
.cuerpo .articulos .rellenoyarmado{
    background-color: rgb(243, 181, 46);
    flex: 1 1 40%;
}
.rellenoyarmado li h3:hover{
    color: rgb(215, 58, 51);
    
}
/*REDES*/
.cuerpo .articulos .redes{
    justify-content: space-around;
    flex: 1 1 100%;
    display: flex;
}

.redes img{
    width: 4.3923vw;
    height:  9.6vh; 
    
}

/*ASIDE*/
.aside{
    background-color: rgb(215, 58, 51);
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
}
.aside .imagen, .gyozamordida, .ramen, .cierre{
    background-color: rgb(215, 58, 51);
    
}
aside .imagen{
    vertical-align:middle;
}
.aside .salsa{
    background-color: rgb(243, 181, 46);
}
.recetasalsa h4, p{
    text-align: center;
}
.aside .proximasrecetas{
    background-color: rgb(243, 181, 46);
}
.aside .proximasrecetas .cierre img{
    background-color: rgb(215, 58, 51);

}
.loqueviene h3{
    text-align: center;
    text-decoration: underline rgb(215, 58, 51) 0.188rem;
}
/*FOOTER*/
.footer{
    background-color: black;
    display: flex;
    justify-content: center;
}
.footer p,a{
    color: rgb(215, 58, 51);
    text-decoration: none;
}

/*MEDIA*/
@media (max-width: 1300px){
    article .videoreceta, .imgplatoterminado{
    display: flex;
    justify-content: center;
    }
}
@media (max-width: 950px){
    .articulos{
    flex-direction: column;
    }
    .logo img{
    height: 30vh;
    width: 20hw;
    }
    .nav{
    flex-direction: column;
    align-items: center;
    }
    ASIDE{
    flex: 1 1 100%;
    display: flex;
    }
    BODY{
    padding: 0 AUTO;
    }
    .cuerpo .articulos .texto{
    flex: 1 1 100%;
    }
    .cuerpo .articulos .video{
    background-color: rgb(243, 181, 46);
    flex: 1 1 100%; 
    }
    .cuerpo .articulos .receta{
    background-color: rgb(243, 181, 46);
    flex: 1 1 100%;
    }

    .cuerpo .articulos .platoterminado{
    flex: 1 1 100%;
    }
}
@media (max-width: 400px){
    aside{
     display: none;
     }
    .cuerpo .articulos .masa .salsa2{
        display: block;
    }
}




