@font-face {
    font-family: "bolditalic.ttf";
    src: url("../fuentes/bolditalic.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0px;
    padding: 1.6vh 0.73206vw;
    box-sizing: border-box;
}
html{
    background-color: rgba(116, 111, 111, 0.5);
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
body{
    min-width: 570px;
}
/*SCROLLBAR*/
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: rgb(46, 194, 160);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb{
    background: #ffffff;
    border-radius: 50px;
}
/*TITULO Y MENU*/
.header{
    background: url("../imagenes/menu2.jpg");
    background-position: center;
    background-attachment:contain;
    display: flex;
    flex-flow: column nowrap;
    font-family:  sans-serif;
}
.barra{
    display: flex;
    align-items: center;
}
.logo{
    flex: 2 1 auto;
}
.nav{  
    flex: 7 1 auto;
    display: flex;   
}
.nav  a{
    text-decoration: none;
    font-size: 1rem;
    padding: 0 0.7320vw;
    letter-spacing: 0.063rem; 
    font-weight: bolder;
    color: black;
}
.nav li{
    list-style: none;
    background-color: rgba(189, 147, 147, .5);
}
/*CUERPO*/
.contenedor{
    display: NONE;
    flex-flow: row wrap;
    background: rgb(46, 194, 160);
}
.foto{
display: flex;
 flex: 1 1 40%;
 justify-content: center;
}
.foto img{
    width: 45vw;
    height: 50vw;
}
.foto1{
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
}
.foto1 img{
    width: 45vw;
    height: 50vw;
}
.foto2{
display: flex;
flex: 1 1 40%;
 justify-content: center;
}
.foto2 img{
    width: 45vw;
    height: 50vw;
}
.foto3{
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
}
.foto3 img{
    width: 45vw;
    height: 50vw;
}
.foto4{
display: flex;
}
.foto4 img{
    width: 45vw;
    height: 50vw;
}
.foto5{
display: flex;
justify-content: center;
flex: 1 1 50%;
}
.foto5 img{
    width: 45vw;
    height: 50vw;
}
.foto6{
    display: flex;
    justify-content: center;
    flex: 1 1 50%;
}
.foto6 img{
    width: 45vw;
    height: 50vw;
}
.sapo{
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
}
.calcifer{
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
}
.calcifer img{
        width: 45vw;
        height: 50vw;
}
  /*CARROUSEL*/
.carrousel{
    display: flex;
    justify-content: center;
    width: 55vw;
}
body{
   background-color: #1f8f76;
}
.carrouselcontainer img{
   width: 70vw;
   height: 80vw;
}
/*FOTOS CON MODAL*/
.corta{
    width: 450px;
    height: 250px;
    }
    .larga{
        height: 400px;
        width: 280px;
    }
/*BOTON FLOTANTE- aside*/
aside .social .redes img{
    width: 4.5vw;
    height:  7.6vh; 
    
    
}
.redes ul li {
    list-style: none;
  }
 aside{
    position: fixed ;
    right: 0;
    
 }
 /*REDES*/
.redescelu{
    justify-content: center;
    flex: 1 1 100%;
    display: none;

}

body .redescelu img{
    width: 4.5vw;
    height:  7.6vh;  
    
}

/*FOOTER*/
.footer{
    background-color: black;
    display: flex;
    justify-content: center;
}
.footer p,a{
    color: rgb(215, 58, 51);
    text-decoration: none;
}
@media (max-width: 970px){
    .logo img{
        height: 30vh;
        width: 20hw;
        }
    .nav{
            display: block;
            text-align: center;
        }
    .redescelu{
            display: flex;
        }
    .botonredes{
            display: none;
        }  
    .contenedor{
            display: FLEX;
        }
    .carrouselcontainer{
            display: NONE;
        }  

 }
