body{
  font-family: sans-serif;  background: linear-gradient(60deg, #c1d3fe, #d0b49f) ;
}
img{
  height: 300px; width: 1000px; display: block; margin: auto;
}
h1{
  font-size: 50px; font-weight: bold; color: gray; text-align: center;  background-color: hsla(200, 180%, 200%, .5);
}
.RECETA{
  text-decoration: underline; color: PURPLE; font-weight: bold;
}
.casadete{
  text-decoration: none; font-style: italic; font-weight: bold;
}
.mapa{
  display: block; margin: 0 auto;
}
.ancla1{
  text-decoration: none; color: #FFF; background-color: #eaac8b; font-weight: bold; text-align: right; float: right;
}
.ancla2{
  text-decoration: none; color: #FFF; background-color: #eaac8b; font-weight: bold; text-align: right; float: right; margin-top: 3px; margin-right: 15px; font-size: 25px;
}
.listadeingredientes{
 list-style: none;
}
.video{
  display: block; margin: 0 auto;
}
